/* General Styles */

body {
  background-color: #A3C9D9;
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  font-family: 'Old Standard TT', serif;
  font-style: italic;
}

.product-box p {
  font-family: 'Hedvig Letters', serif;
  font-style: italic;
}


/* menu*/
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #254559;
  padding: 10px;
}

.logo {
  max-width: 100px;
}

a {
  color: #84A9BF;
  font-weight: 300;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  text-align: center;
}

a:hover {
  background: #A3C9D9;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation li {
  margin-right: 20px;
}

/*Footer*/
.footer {
  background-color: #254559;
  color: #84A9BF;
  padding: 20px;
  text-align: center;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.footer li {
  margin-bottom: 5px;
}

.social-icons img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #254559;
  color: #84A9BF;
  padding: 20px;
  text-align: center;
}

.contact-info {
  text-align: left;
}

.social-icons {
  text-align: right;
}

.social-icons ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

/*products*/
.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px;
    padding: 20px;
}

.product-box {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
  background-color: #84A9BF;
}

.product-box img {
  max-width: 100%;
  height: auto;
}


body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

/* Styling for the text content */
.product-box h1, .product-box p {
  margin-top: 10px;
}

/* Styling for the links within the product box */
.product-box a {
  text-decoration: none;
  color: #000;
}

.product-box {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
}

.product-box img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px; 
}

/*forside*/
.index-page .navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #254559;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index-page .navigation a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}
.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  justify-content: center;
}
.index-page {
  background-image: url('img/background.jpg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.wrapper {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  padding: 20px;
}

.velkomst{
  background-color: #A3C9D9;
}
.footer {
  background-color: #254559;
  color: #84A9BF;
  padding: 20px;
  text-align: center;
}
/*Aboutme page*/
main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
  padding: 20px;
}

/* Styling for the text on the left */
main .text-container {
  flex: 1;
}

/* Styling for the image on the right */
main .image-container {
  flex-shrink: 0; 
  margin-left: 20px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .image-container img {
  width: 100%; 
  height: auto;
  max-width: 15%; 
  max-height: 15%; 
}

.Portrait {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px; 
}

h2 {
  text-align: left; 
}

ul {
  list-style: none;
  padding: 0; 
}

ul li {
  margin-bottom: 10px; 
}

@media only screen and (min-width: 600px) {
  .image-container {
    flex-direction: row; 
    justify-content: space-between; 
    text-align: left; 
    align-items: flex-start; 
  }

  .Portrait {
    max-width: 35%; 
    height: auto;
    margin-bottom: 0; 
    margin-left: 10px; 
  }
}
/*contact*/
form {
  max-width: 400px;
  margin: 0 auto;
}

label,
input,
textarea {
  display: block;
  margin-bottom: 10px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 750px) {
  .navigation ul {
    flex-wrap: nowrap;
  }
  .footer ul {
    flex-wrap: nowrap;
  }
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}


/*contact*/
form {
  max-width: 400px;
  margin: 0 auto;
}

label,
input,
textarea {
  display: block;
  margin-bottom: 10px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 750px) {
  .navigation ul {
    flex-wrap: nowrap;
  }
  .footer ul {
    flex-wrap: nowrap;
  }
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
  .image-container {
    flex-direction: row; 
    justify-content: space-between; 
    text-align: left; 
  }

  .Portrait {
    max-width: 35%; 
    height: auto;
    margin-bottom: 0;
  }
}