body {
  background-color: #A3C9D9;
  margin: 0;
}
/* menu*/
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #254559
  ;
  padding: 10px;
}

.logo {
  max-width: 100px; 
}

a {
  color: #84A9BF;
  font-weight: 300;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  text-align: center;
}

a:hover {
  background: #A3C9D9;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation li {
  margin-right: 20px;
}
/*Footer*/
body {
  background-color: #A3C9D9;
  margin: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #254559;
  padding: 10px;
}

.logo {
  max-width: 100px;
}

a {
  color: #84A9BF;
  font-weight: 300;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  text-align: center;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation li {
  margin-right: 20px;
}

.footer {
  background-color: #254559;
  color: #84A9BF;
  padding: 20px;
  text-align: center;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: end;
}

.footer li {
  margin-bottom: 5px;
}

.social-icons img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.products {
  list-style: none;
 
}
/*forside*/
.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
/*Aboutme paige*/
.image-container {
  display: flex;
  justify-content: flex-end;
}
.Portrait{
  max-width: 35%;
  height: 35%;
}
/*products*/

/*contanct*/
body {
  font-family: Arial, sans-serif;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label, input, textarea {
  display: block;
  margin-bottom: 10px;
}

input, textarea {
  width: 100%;
  padding: 8px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}
@media only screen and (min-width: 750px) {
  .navigation ul {
    flex-wrap: nowrap; 
  } 
  .footer ul {
    flex-wrap: nowrap;
  }
}